extends ../dashboard-layout

block content
    .mt-5
      table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') Course name
            th(scope='col') Created at
        tbody
          each course in courses
            tr
              th(scope='row') 1
              td= course.name
              td= course.status === 1 ? moment(course.createdAt).format('MMM DD YYYY') : 'Coming soon'
