h1= title
form(action="/login", method="POST")
  input(name="email" type="text" placeholder="Input Email")
  input(name="password" type="password" placeholder="Input password")
  button(type="submit") Login
hr
include ../partials/flash