if codes.length
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') user(email)
        th(scope='col') code
        th(scope='col') Create time
        th(scope='col') action
    tbody
      for code, i in codes
        tr
          th(scope='row')= i + 1
          td= code.user_id
          td= code._id
          td= code.createdAt
          td Assign|delete...
        