extends ../layout

block content
  h3 Package
  .info
    | Package: ID: #{package.id} Quantity: #{package.quantity} + Can create code? #{package.status}
  hr
  if codes.length
    include code-list
  else
    form(action="/pa/" + package._id + "/gen" method="post")
      button.btn.btn-outline-success(type="submit") Generate code
  end        