extends ../layout

block content
  form.form-signin(_lpchecked='1')
    .text-center.mb-4
      h1.h3.mb-3.font-weight-normal Sign in
    .form-label-group
      input#inputUserName.form-control(type='text', placeholder='Username', required='', autofocus='')
      label(for='inputUserName') Username
    .form-label-group
      input#inputPassword.form-control(type='password', placeholder='Password', required='')
      label(for='inputPassword') Password
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
    p.mt-3.text-center
      | Not registered? 
      a(href='/sign-up') Create an account

