extends ../layout-course

block content
  section.banner-pages.banner-course
    .flex-grid.align-center
      .wpcol.wpcol-2
        .wrap-img
          img.img-course(src='/images/quiz_hero.png', alt='Blockchain 101', title='Blockchain 101', style="max-height: 200px")
      .wpcol.wpcol-2
        h1.title.title-course
          | Blockchain 101 Quiz
        p
          | Total questions: 10
  section.about.pb-5
    .container
      .row
        .col-12
          - const optionlables = ["A", "B", "C", "D"];
          form.mt-5(action="", method="POST")
            each q, i in data
              .form-group
                label!= (i + 1) + " - " + q.question
                each option, j in q.options
                  - const questionNumber = "question_" + (i+1);
                  - const questionOption = questionNumber + "_" + j;
                  - const choise = questionOption == q.choise ? true : false;
                  - const answer = choise ?  q.flag ? "is-valid" : "is-invalid"  : "";
                  .form-check
                    input.form-check-input(id=questionOption, type = "radio", name = questionNumber, value = questionOption, checked = choise, class=answer)
                    label.form-check-label(for = questionOption)!= optionlables[j] + ") " + option
                hr
            button.btn.btn-primary(type="submit")
              | Submit