extends ../layout

block content
  .container
  .stepwizard
    .stepwizard-row.setup-panel
    .stepwizard-step.col-xs-3
      a.btn.btn-success.btn-circle(href='#step-1', type='button') 1
      p
      small Shipper
    .stepwizard-step.col-xs-3
      a.btn.btn-default.btn-circle(href='#step-2', type='button', disabled='disabled') 2
      p
      small Destination
    .stepwizard-step.col-xs-3
      a.btn.btn-default.btn-circle(href='#step-3', type='button', disabled='disabled') 3
      p
      small Schedule
    .stepwizard-step.col-xs-3
      a.btn.btn-default.btn-circle(href='#step-4', type='button', disabled='disabled') 4
      p
      small Cargo
  form(role='form')
    #step-1.panel.panel-primary.setup-content
      .panel-heading
        h3.panel-title Shipper
      .panel-body
        .form-group
        label.control-label First Name
        input.form-control(maxlength='100', type='text', required='required', placeholder='Enter First Name')
        .form-group
        label.control-label Last Name
        input.form-control(maxlength='100', type='text', required='required', placeholder='Enter Last Name')
        button.btn.btn-primary.nextBtn.pull-right(type='button') Next
    #step-2.panel.panel-primary.setup-content
      .panel-heading
        h3.panel-title Destination
      .panel-body
        .form-group
        label.control-label Company Name
        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Name')
        .form-group
        label.control-label Company Address
        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Address')
        button.btn.btn-primary.nextBtn.pull-right(type='button') Next
    #step-3.panel.panel-primary.setup-content
      .panel-heading
        h3.panel-title Schedule
      .panel-body
        .form-group
        label.control-label Company Name
        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Name')
        .form-group
        label.control-label Company Address
        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Address')
        button.btn.btn-primary.nextBtn.pull-right(type='button') Next
    #step-4.panel.panel-primary.setup-content
      .panel-heading
        h3.panel-title Cargo
      .panel-body
        .form-group
        label.control-label Company Name
        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Name')
        .form-group
        label.control-label Company Address
        input.form-control(maxlength='200', type='text', required='required', placeholder='Enter Company Address')
        button.btn.btn-success.pull-right(type='submit') Finish!